.vp-doc {
  .family-section-block {
    h2 {
      border-top: none;

      &:first-child {
        margin-top: 0;
      }
    }
  }
  h2 {
    border-top: none !important;
  }
}

.outline-source {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}