:root {
  --sopr-family-bg: antiquewhite;
  --sopr-group-bg: #f5f5f5;
  --sopr-feature-bg: #f5f5f5;
}

@mixin large-page-heading() {
  padding: 1.5rem;
}
@mixin descendant-page-heading() {
  padding: 0.5rem 1.5rem;
}

.doc-before-container {

}
.feature-family-heading {
  @include large-page-heading();
  background-color: var(--sopr-family-bg);

  &.feature-family-heading__descendant {
    @include descendant-page-heading();
  }
}
.feature-group-heading {
  @include large-page-heading();
  background-color: var(--sopr-group-bg);
  &.feature-group-heading__descendant {
    @include descendant-page-heading();
  }
}

.feature-heading {
  @include large-page-heading();
  background-color: var(--sopr-feature-bg);
}


.vp-doc {
  .family-section-block {
    h2 {
      border-top: none;

      &:first-child {
        margin-top: 0;
      }
    }
  }
  h2 {
    border-top: none !important;
  }
}

.outline-source {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.back-to-family-link, .back-to-group-link {
  font-size: .8rem;
  text-decoration: none;
  color: var(--pdnpa-medium);
  display: inline-block;
  padding-left: 1rem;
  &:hover {
    text-decoration: underline;
  }

  &:before {
    content: "← ";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
  }
  &:hover {
    &:before {
      left: -8px;
    }
  }
}

/*
  :root, html {
      --vp-color-brand: #375d4b !important;
      --vp-nav-bg-color: #375d4b !important;

  }
  .dark {
    --vp-nav-bg-color: var(--pdnpa-dark);
  }

*/

.factor-image, .benefit-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
}
.image-placeholder {
  display: block;
  width: 100px;
  height: 100px;
  background-color: var(--gray5);
  border-radius: 50%;
}

@mixin icon-list() {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    min-width: 110px;

    box-sizing: border-box;
    list-style: none;
    display: flex;
    justify-content: stretch;

    > * {
      display: flex;
      flex-direction: column;
      align-items: stretch;

    }

    //border-bottom: 1px solid var(--gray3);

    &:not(:last-child) {
      //border-right: 1px solid var(--gray3);
    }
  }
}

.benefit-list, .factor-list {
  @include icon-list();
}

.aside-content {
  background-color: #fff;
}