@use "sass:map";
@use "sass:color";
@use "variables";

$family-colors: (
  "landscape": #4A4D3A,
  "cultural-heritage": variables.$pdnpa-purple,
  "people": variables.$pdnpa-darkorange,
);
$family-colors-text: (
        "landscape": #FFFFFF,
        "cultural-heritage": #FFFFFF,
        "people": #ffffff,
);
.vp-doc {
  @each $name, $value in $family-colors {
    .text-#{$name} {
      color: #{$value} !important;
    }
    .bg-#{$name} {
      background-color: #{$value};
      color: map.get($family-colors-text, $name);

      a, &:is(a) {
        color: map.get($family-colors-text, $name);
        transition: color 0.2s ease-in-out;
        will-change: color;

        &:hover, &:active, &:focus {
          color: color.scale($value, $lightness: 40%);
        }
      }

    }
    a.bg-#{$name} {
      color: map.get($family-colors-text, $name);
      transition: color 0.1s ease-in-out, background-color 0.2s ease-in-out;
      will-change: color, background-color;

      &:hover, &:active, &:focus {
        color: color.scale($value, $lightness: 40%);
        background-color: color.scale($value, $lightness: -10%);
      }
    }
    :root {
      --family-#{$name}: #{$value};
      --family-#{$name}-bg: #{$value};
      --family-#{$name}-text: map.get($family-colors-text, $name);
    }
  }


}