.VPNavBar {
  .title {
    span {
      font-size: 1.3rem;
      margin-left: 0.5rem;
    }
  }
}
.VPNav .blog-search > .nav-search-btn-wait {
  background: #4b727d !important;
}
.VPNav .blog-search .nav-search-btn-wait .metaKey {
  border-color: #9bc1cc !important;
}