
  .VPSidebar {
    .nav {
      .VPSidebarItem.level-0, .VPSidebarItem.level-1, .VPSidebarItem.level-2 {
        .text {
          color: #fff;
        }

        &.is-active {
          > .item .link > .text {
            color: #dd8441;
          }
        }

        &.is-link {
          > .item > .link:hover .text {
            color: #d1b39b;
          }
        }

        &.has-active {
          > .item .link > .text {
            color: #dd8441;
          }
        }
      }

      .VPSidebarItem.level-0 {

        padding-bottom: 8px;

        > .item > .text {
          color: #fff;
        }

        &.has-active {
          > .item > .text {
            color: #dd8441;
          }
        }

        .items {
          margin-top: 8px;
        }

      }

      .VPSidebarItem.level-2.is-active > .item > .indicator {
        background-color: #e77821;
      }

      .group:has([role='button']) .VPSidebarItem.level-0 .items {
        border-left: 1px solid var(--vp-c-divider);
      }

      .VPSidebarItem.level-3 {
        &.is-active {
          > .item .link > .text {
            color: var(--pdnpa-care);
          }
        }

        &.is-link {
          > .item > .link:hover .text {
            color: #d1b39b;
          }
        }

        &.has-active {
          > .item .link > .text {
            color: var(--pdnpa-care);
          }
        }
      }
    }
  }

  .dark {

  }
